/*------ Header------*/

#main-logo {
    font-size: 48px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #F7703B;
    padding-top: 10px;
}

#main-logo:hover, #main-logo:focus {
    color: #355070;
}

/*------- Welcome Section----------*/

.introduction {
    padding-top: 40px;
    font-style: italic;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    color: #355070;
}


.button-positioning {
    display: flex;
    justify-content: center;
}

.background {
    background-color: #D9EBEC;
}

#launch-questions {
    text-transform: capitalize;
    width: fit-content;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    background-color: #F7703B;
    color: #FFE285;
    text-align: center;
}

#launch-questions:hover, #launch-questions:focus {
    background-color: #FFE285;
    color: #F7703B;
}

#question-generation-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-question {
    color: #355070;
    font-size: 50px;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    text-align: center;
    text-emphasis-color: #F7703B;
}

/*----------Image Container------*/
img:focus {
    outline: 5px solid red;
}

.image-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-image {
    width: 475px;
    height: 450px;
    border-style: outset;
    border-color: #355070;
}

.hidden {
    display: none;
}

/*----------Post Button Click------*/

.back-button {
    text-transform: capitalize;
    width: fit-content;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    background-color: blueviolet;
    color: yellow;
    text-align: center;
}

.home-button {
    text-transform: capitalize;
    width: fit-content;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    background-color: #F7703B;
    color: #FFE285;
    text-align: center;
}

.home-button:hover, .home-button:focus {
    background-color: #FFE285;
    color: #F7703B;
}


/*------------ Final Screen ------------*/

.flex-box {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 30px;
}

.ticket-box {
    width: 450px;
    height: fit-content;
    border-style: outset;
    border-color: #355070;
    background-color: #D9EBEC;
}

.suggestion {
    color: #355070;
    font-size: 32px;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    text-align: center;
    text-emphasis-color: #F7703B;
}

#city{
    font-size: 24px;
}

#country{
    font-size: 24px;
}

#navigation {
    padding-top: 15px;
}

/*------------ Spinner ------------*/
#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin:-76px 0 0 -76px;
    border: 16px solid #f3f3f3; 
    border-radius: 50%;
    border-top: 16px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.animate-bottom{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    } 
    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    } 
    to {
        bottom: 0;
        opacity: 1;
    }
}
