/*------ Header------*/

#main-logo {
    font-size: 48px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #F7703B;
    padding-top: 10px;
}

/*------- Welcome Section----------*/

.introduction {
    padding-top: 40px;
    font-style: italic;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    color: #355070;
}


.button-positioning {
    display: flex;
    justify-content: center;
}

.background {
    background-color: #D9EBEC;
}

#launch-questions {
    text-transform: capitalize;
    width: fit-content;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    background-color: #F7703B;
    color: #FFE285;
    text-align: center;
}

#launch-questions:hover {
    background-color: #FFE285;
    color: #F7703B;
}

#question-generation-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-question {
    color: #355070;
    font-size: 50px;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    text-align: center;
    text-emphasis-color: #F7703B;
}

/*----------Image Container------*/
.image-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-image {
    width: 500px;
    height: 450px;
    border-style: outset;
    border-color: #355070;
}

.hidden {
    display: none;
}

/*----------Post Button Click------*/

.back-button {
    text-transform: capitalize;
    width: fit-content;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    background-color: blueviolet;
    color: yellow;
    text-align: center;
}

.back-button:hover {
    background-color: yellow;
    color: blueviolet;
}

.reset-button {
    text-transform: capitalize;
    width: fit-content;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    background-color: #F7703B;
    color: #FFE285;
    text-align: center;
}

.reset-button:hover {
    background-color: #FFE285;
    color: #F7703B;
}


/*------------ Final Screen ------------*/

.flex-box {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 30px;
}

.ticket-box {
    width: 450px;
    height: fit-content;
    border-style: outset;
    border-color: #355070;
    background-color: #D9EBEC;
}

.suggestion {
    color: #355070;
    font-size: 32px;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    text-align: center;
    text-emphasis-color: #F7703B;
}

#navigation {
    padding-top: 15px;
}